# Entorno virtual
venv/
__pycache__/
.env

# Archivos de media (No subir a GitHub)
*.mp3
*.wav
*.m4a
*.mp4

# Archivos temporales
editing_guide.json
temp_audio.wav

# Directorios input y output
input/
output/

# Directorio de archives (backups locales)
archives/