# --- Inteligencia Artificial (Audio y Diarización) ---
pyannote.audio
torch
torchaudio

# --- Procesamiento de Audio y Video ---
pydub
moviepy<2.0
imageio-ffmpeg

# --- Utilidades y Configuración ---
python-dotenv